<% layout("/layouts/boilerplate") %>
    <style>
        .card {
            border: none !important;
        }
    </style>

    <body>
        <h3>All Listings</h3>

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for(let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: inherit;">
                    <div class="card" style="width: 25rem;">
                        <img src="<%= listing.image || '/images/default-image.jpg' %>" class="card-img-top"
                            alt="<%= listing.title || 'Default listing image' %>" style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title || 'No title available' %>
                                </b>
                                <br>
                                &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : 'Price not available'
                                    %> /night
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>